h2 {
    padding-bottom: 30px;
}

.section {
    padding: 100px 30px;
    min-height: 500px;
}

.configItem {
    margin: 10px 0;
}

.subConfigItem{
    margin-left: 30px;
}

.configForm {

}

.historyList{
    background-color: aliceblue;
}

.btn-group{
    align-content: center;
    margin-top: 20px;
}