.section {
    padding: 60px 0 0 0;
    margin: 0;
    min-height: 700px;
}

.summary{
    padding-left: 5px;
    background-color: aliceblue;
    border: 2.5px solid black;
}

.compare{
    background-color: whitesmoke;
    border: 1.5px solid gray;
}